@model PracticeASP.Domain.Entities.URegisterData

@{
    ViewBag.Title = "Index1";
}

<div class="container">
    <div class="col-md-12">
        <table class="table">
            </br></br></br>
            <thead>
                <tr>
                    <th scope="col">Nume</th>
                    <th scope="col">Prenume</th>
                    <th scope="col">Email</th>
                    <th scope="col">Password</th>
                    <th scope="col">LastAuthDate</th>
                    <th scope="col">IP Address</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>@Model.Name</td>
                    <td>@Model.Prenumele</td>
                    <td>@Model.Email</td>
                    <td>@Model.Password</td>
                    <td>@Model.LastAuthDate</td>
                    <td>@Model.IP_address</td>
                </tr>
            </tbody>
        </table>
            <br /><br /><br />
    </div>
</div>